
<nav class="navbar">
    <div class="logo">
      <span class="logo-icon">💡</span>
      SkillShare<span>Live</span>
    </div>
    
    <div class="nav-links" [class.active]="isMenuActive">
      <a routerLink="/receiver" class="active">Accueil</a>
      <a routerLink="profile" routerLinkActive="active">Profil</a>
      
      <a routerLink="/skills">Compétences recherchées</a>
      <a routerLink="/calendar">Calendrier</a>
    </div>
  
    <div class="auth-buttons">
      <button class="btn btn-primary"
              (mouseover)="onLogoutHover()"
              (mouseout)="onLogoutHoverOut()"
              (click)="handleLogout()">
        {{ logoutButtonText }}
      </button>
    </div>
  </nav>