<div *ngIf="isLoading" class="loading">
  <p>Chargement...</p>
</div>

<div *ngIf="error" class="error">{{ error }}</div>

<div *ngIf="!isLoading && !error" class="receiver-container">
  <app-navbar-receiver 
    [userProfile]="userProfile"
    [isMenuActive]="isMenuActive"
    [logoutButtonText]="logoutButtonText"
    (logout)="logout()"
    (menuToggled)="toggleMenu()">
  </app-navbar-receiver>

  <app-hero-receiver
    *ngIf="isHomeRoute()"
    [userProfile]="userProfile"
    [sessions]="sessions">
  </app-hero-receiver>

  <section class="section content-section">
    

    <router-outlet></router-outlet>
  </section>

  <app-footer-receiver></app-footer-receiver>
</div>