/* Plus besoin d'importer custom-theme ici car il est importé dans angular.json */
/* Styles globaux seulement */

html, body { 
  height: 100%; 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}